Flask==2.3.3
Flask-CORS==4.0.0
Flask-Limiter==3.5.0
mysql-connector-python==8.1.0
Werkzeug==2.3.7
python-dotenv==1.2.2
requests==2.33.1
beautifulsoup4==4.14.3
openpyxl==3.1.2
reportlab==4.0.7
PyJWT==2.8.0
google-genai==0.0.1
google-api-python-client==2.166.0
google-auth==2.38.0
google-auth-oauthlib==1.2.1
Pillow==11.3.0
pyzipper==0.3.6